<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout:: header(~{::title},~{})">
    <title>Add Student</title>
</head>
<body>
<div class="container">
    <h2 class="text-info text-center border-top-5" >Add Student</h2>
    <div th:replace="layout:: navbar"></div>

    <form th:action="@{/students/save}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-6">
                <label for="name" class="form-label">Email address</label>
                <input type="text" name="name" class="form-control" id="name" >
            </div>
            <div class="mb-3 col-6">
                <label for="address" class="form-label">Email address</label>
                <input type="text" name="address" class="form-control" id="address" >
            </div>
            <div class="mb-3 col-6">
                <label for="imgFile" class="form-label">Email address</label>
                <input type="file" name="imageFile" class="form-control" id="imgFile" >
            </div>
        </div>
        <div class="align-content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
    <br/>
    <br/>
    <footer th:replace="layout:: footer"></footer>
</div>

</body>
</html>